@mixin btn-styles($btn-color, $btn-states-color) {
  background-color: $btn-color;
  transition: all 0.15s ease;
  box-shadow: none;

  &:hover,
  &:focus,
  &:active,
  &.active,
  &:active:focus,
  &:active:hover,
  &.active:focus,
  &.active:hover {
    background-color: $btn-states-color !important;
    background-image: linear-gradient(
      to bottom left,
      $btn-color,
      $btn-states-color,
      $btn-color
    ) !important;
    background-image: -webkit-linear-gradient(
      to bottom left,
      $btn-color,
      $btn-states-color,
      $btn-color
    ) !important;
    background-image: -o-linear-gradient(
      to bottom left,
      $btn-color,
      $btn-states-color,
      $btn-color
    ) !important;
    background-image: -moz-linear-gradient(
      to bottom left,
      $btn-color,
      $btn-states-color,
      $btn-color
    ) !important;
    color: $white;
    box-shadow: none;
  }

  &:active {
    box-shadow: none !important;
    transform: translateY(3px) !important;
    transition: all 0.5s ease;
  }

  &:not([data-action]):hover {
    box-shadow: 2px 2px 6px rgba(182, 23, 23, 0.4);
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
  }

  &.disabled,
  &:disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: $btn-color;
      border-color: $btn-color;
    }
  }

  // btn-neutral style
  @if $btn-color == $white {
    color: $secondary;

    &.btn-danger {
      color: $danger;

      &:hover,
      &:focus,
      &:active,
      &:active:focus {
        color: $danger-states;
      }
    }

    &.btn-info {
      color: $info;

      &:hover,
      &:focus,
      &:active,
      &:active:focus {
        color: $info-states;
      }
    }

    &.btn-warning {
      color: $warning;

      &:hover,
      &:focus,
      &:active,
      &:active:focus {
        color: $warning-states;
      }
    }

    &.btn-success {
      color: $success;

      &:hover,
      &:focus,
      &:active,
      &:active:focus {
        color: $success-states;
      }
    }

    &.btn-default {
      color: $default;

      &:hover,
      &:focus,
      &:active,
      &:active:focus {
        color: $default-states;
      }
    }
  } @else {
    color: $white;
  }
}

// Button sizes
@mixin btn-size($padding-vertical, $padding-horizontal, $font-size, $border) {
  font-size: $font-size;
  border-radius: $border;
  padding: $padding-vertical $padding-horizontal;

  &.btn-simple {
    padding: $padding-vertical - 1 $padding-horizontal - 1;
  }
}

@mixin opacity($opacity) {
  opacity: $opacity;
  // IE8 filter
  $opacity-ie: ($opacity * 100);
  filter: #{alpha(opacity=$opacity-ie)};
}

$default: #3e4d72 !default;
$primary: #1c2d8f !default;
$secondary: #df60ce !default;
$success: #1b7e0e !default;
$info: #1a74ce !default;
$warning: #d8bc40 !default;
$danger: #ce2626 !default;

// Gradient
$default-states: #2f3c58 !default;
$primary-states: #549ff5 !default;
$secondary-states: #f554e0 !default;
$success-states: #00f0bc !default;
$info-states: #516bd4 !default;
$warning-states: #d3c790 !default;
$danger-states: #b8594e !default;

// Border
$none: 0 !default;
$border-thin: 1px !default;
$border-thick: 2px !default;
$border-radius-lg: 0.4285rem !default;
$border-radius-sm: 0.2857rem !default;
$border: 0.5px solid !default;

// Buttons
$btn-padding-y-sm: 5px !default;
$btn-padding-x-sm: 20px !default;

$btn-padding-y-lg: 15px !default;
$btn-padding-x-lg: 40px !default;

$btn-round-radius: 25px !default;

// Spacing
$padding-btn-vertical: 8px !default;

$padding-round-horizontal: 22px !default;

$padding-base-vertical: 0.5rem !default;
$padding-base-horizontal: 0.7rem !default;

// Color system
$transparent-bg: transparent !default;
$white: #ffffff !default;
$pink-100: #ebbbdf !default;

// Fonts
$font-size-dash: 0.875rem !default;

$font-size-base: $font-size-dash !default;

$font-weight-bold: 600 !default;

// Icons
$icon-size-regular: 2.375rem !default;
$icon-font-size-regular: 1rem !default;

.btn {
  border-width: $border-thick;
  border: none;
  position: relative;
  overflow: hidden;
  margin: 5px 3px;
  border-radius: $border-radius-lg;
  cursor: pointer;

  @include btn-styles($default, $default-states);

  &.btn-icon {
    height: $icon-size-regular;
    min-width: $icon-size-regular;
    width: $icon-size-regular;
    padding: 0;
    font-size: $icon-font-size-regular;
    overflow: hidden;
    position: relative;
    line-height: normal;
  }
}

.btn-primary {
  @include btn-styles($primary, $primary-states);
}
.btn-secondary {
  @include btn-styles($secondary, $secondary-states);
}
.btn-success {
  @include btn-styles($success, $success-states);
}
.btn-info {
  @include btn-styles($info, $info-states);
}
.btn-warning {
  @include btn-styles($warning, $warning-states);
}
.btn-danger {
  @include btn-styles($danger, $danger-states);
}
.btn-neutral {
  @include btn-styles($white, $white);
}

.btn {
  &:disabled,
  &[disabled],
  &.disabled {
    @include opacity(0.5);
    pointer-events: none;
  }
}

.btn-lg {
  @include btn-size(
    $btn-padding-y-lg,
    $btn-padding-x-lg,
    $font-size-base,
    $border-radius-lg
  );
}

.btn-sm {
  @include btn-size(
    $btn-padding-y-sm,
    $btn-padding-x-sm,
    $font-size-base,
    $border-radius-sm
  );
}

.btn-round {
  border-width: $border-thin;
  border-radius: $btn-round-radius;
}

.btn-simple {
  border: $border;
  border-color: $default;
  box-shadow: none;
  padding: $padding-btn-vertical - 1 $padding-round-horizontal - 1;
  background-color: $transparent-bg;
}

.btn-link {
  border: $none;
  box-shadow: none;
  padding: $padding-base-vertical $padding-base-horizontal;
  background: $transparent-bg;
  color: $pink-100;
  font-weight: $font-weight-bold;
}
