// vendor-prefixes mixin
@mixin diagonal-gradient($start-color, $end-color) {
  background: $start-color;
  background-image: -webkit-linear-gradient(
    to bottom left,
    $start-color,
    $end-color,
    $start-color
  );
  background-image: -o-linear-gradient(
    to bottom left,
    $start-color,
    $end-color,
    $start-color
  );
  background-image: -moz-linear-gradient(
    to bottom left,
    $start-color,
    $end-color,
    $start-color
  );
  background-image: linear-gradient(
    to bottom left,
    $start-color,
    $end-color,
    $start-color
  );
  background-size: 210% 210%;
  background-position: top right;
}

@mixin linear-gradient($color, $states-color) {
  background: $color;
  background: -webkit-linear-gradient(0deg, $color 0%, $states-color 100%);
  background: -o-linear-gradient(0deg, $color 0%, $states-color 100%);
  background: -moz-linear-gradient(0deg, $color 0%, $states-color 100%);
  background: linear-gradient(0deg, $color 0%, $states-color 100%);
}

// buttons mixin
@mixin btn-styles($btn-color, $btn-states-color) {
  @include diagonal-gradient($btn-color, $btn-states-color);
  background-color: $btn-color;
  transition: all 0.15s ease;
  box-shadow: none;

  &:hover,
  &:focus,
  &:active,
  &.active,
  &:active:focus,
  &:active:hover,
  &.active:focus,
  &.active:hover {
    background-color: $btn-states-color !important;
    background-image: linear-gradient(
      to bottom left,
      $btn-color,
      $btn-states-color,
      $btn-color
    ) !important;
    background-image: -webkit-linear-gradient(
      to bottom left,
      $btn-color,
      $btn-states-color,
      $btn-color
    ) !important;
    background-image: -o-linear-gradient(
      to bottom left,
      $btn-color,
      $btn-states-color,
      $btn-color
    ) !important;
    background-image: -moz-linear-gradient(
      to bottom left,
      $btn-color,
      $btn-states-color,
      $btn-color
    ) !important;
    color: $white;
    box-shadow: none;
  }

  &:active {
    box-shadow: none !important;
    transform: translateY(3px) !important;
    transition: all 0.5s ease;
  }

  &:not([data-action]):hover {
    box-shadow: 2px 2px 6px rgba(182, 23, 23, 0.4);
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
  }

  &.disabled,
  &:disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: $btn-color;
      border-color: $btn-color;
    }
  }

  // btn-neutral style
  @if $btn-color == $white {
    color: $secondary;

    &.btn-danger {
      color: $danger;

      &:hover,
      &:focus,
      &:active,
      &:active:focus {
        color: $danger-states;
      }
    }

    &.btn-info {
      color: $info;

      &:hover,
      &:focus,
      &:active,
      &:active:focus {
        color: $info-states;
      }
    }

    &.btn-warning {
      color: $warning;

      &:hover,
      &:focus,
      &:active,
      &:active:focus {
        color: $warning-states;
      }
    }

    &.btn-success {
      color: $success;

      &:hover,
      &:focus,
      &:active,
      &:active:focus {
        color: $success-states;
      }
    }

    &.btn-default {
      color: $default;

      &:hover,
      &:focus,
      &:active,
      &:active:focus {
        color: $default-states;
      }
    }
  } @else {
    color: $white;
  }
}

// Button sizes
@mixin btn-size($padding-vertical, $padding-horizontal, $font-size, $border) {
  font-size: $font-size;
  border-radius: $border;
  padding: $padding-vertical $padding-horizontal;

  &.btn-simple {
    padding: $padding-vertical - 1 $padding-horizontal - 1;
  }
}

// opacity mixin
@mixin opacity($opacity) {
  opacity: $opacity;
  // IE8 filter
  $opacity-ie: ($opacity * 100);
  filter: #{alpha(opacity=$opacity-ie)};
}

// variables
$default: #3e4d72 !default;
$primary: #1c2d8f !default;
$secondary: #df60ce !default;
$success: #1b7e0e !default;
$info: #1a74ce !default;
$warning: #d8bc40 !default;
$danger: #ce2626 !default;

// Gradient
$default-states: #2f3c58 !default;
$primary-states: #549ff5 !default;
$secondary-states: #f554e0 !default;
$success-states: #00f0bc !default;
$info-states: #516bd4 !default;
$warning-states: #d3c790 !default;
$danger-states: #b8594e !default;

// Border
$none: 0 !default;
$border-thin: 1px !default;
$border-thick: 2px !default;
$border-radius-lg: 0.4285rem !default;
$border-radius-sm: 0.2857rem !default;
$border: 0.5px solid !default;

$box-shadow: 0 15px 35px rgba(80, 218, 195, 0.1), 0 5px 15px rgba(5, 5, 5, 0.07);

// Buttons
$btn-padding-y-sm: 5px !default;
$btn-padding-x-sm: 20px !default;

$btn-padding-y-lg: 15px !default;
$btn-padding-x-lg: 40px !default;

$btn-round-radius: 25px !default;

// Spacing
$padding-btn-vertical: 8px !default;

$padding-round-horizontal: 22px !default;

$padding-base-vertical: 0.5rem !default;
$padding-base-horizontal: 0.7rem !default;

// Color system
$transparent-bg: transparent !default;
$white: #ffffff !default;
$pink-100: #ebbbdf !default;
$pink-600: #da50b0 !default;

$opacity-1: rgba(255, 255, 255, 0.2) !default;

// Fonts
$font-size-dash: 0.875rem !default;

$font-size-base: $font-size-dash !default;

$font-weight-bold: 600 !default;

// Icons
$icon-size-regular: 2.375rem !default;
$icon-font-size-regular: 1rem !default;

// Brand colors
$brand-primary: $primary !default;

// buttons.scss
.btn {
  border-width: $border-thick;
  border: none;
  position: relative;
  overflow: hidden;
  margin: 5px 3px;
  border-radius: $border-radius-lg;
  cursor: pointer;

  @include btn-styles($default, $default-states);

  &.btn-icon {
    height: $icon-size-regular;
    min-width: $icon-size-regular;
    width: $icon-size-regular;
    padding: 0;
    font-size: $icon-font-size-regular;
    overflow: hidden;
    position: relative;
    line-height: normal;
  }
}

.btn-primary {
  @include btn-styles($primary, $primary-states);
}
.btn-secondary {
  @include btn-styles($secondary, $secondary-states);
}
.btn-success {
  @include btn-styles($success, $success-states);
}
.btn-info {
  @include btn-styles($info, $info-states);
}
.btn-warning {
  @include btn-styles($warning, $warning-states);
}
.btn-danger {
  @include btn-styles($danger, $danger-states);
}
.btn-neutral {
  @include btn-styles($white, $white);
}

.btn {
  &:disabled,
  &[disabled],
  &.disabled {
    @include opacity(0.5);
    pointer-events: none;
  }
}

.btn-lg {
  @include btn-size(
    $btn-padding-y-lg,
    $btn-padding-x-lg,
    $font-size-base,
    $border-radius-lg
  );
}

.btn-sm {
  @include btn-size(
    $btn-padding-y-sm,
    $btn-padding-x-sm,
    $font-size-base,
    $border-radius-sm
  );
}

.btn-round {
  border-width: $border-thin;
  border-radius: $btn-round-radius;
}

.btn-simple {
  border: $border;
  border-color: $default;
  box-shadow: none;
  padding: $padding-btn-vertical - 1 $padding-round-horizontal - 1;
  background-color: $transparent-bg;
}

.btn-link {
  border: $none;
  box-shadow: none;
  padding: $padding-base-vertical $padding-base-horizontal;
  background: $transparent-bg;
  color: $pink-100;
  font-weight: $font-weight-bold;
}

// pagination.scss
.pagination {
  .page-item .page-link {
    border: 0;
    border-radius: 40px !important;
    transition: all 0.5s;
    margin: 0 5px;
    min-width: 20px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;

    &:hover,
    &:focus {
      background-color: rgba($pink-600, 0.1);
      color: $pink-600;
      border: none;
      box-shadow: none;
    }
  }

  .page-item.active > .page-link {
    color: $pink-600;
    box-shadow: $box-shadow;

    &,
    &:focus,
    &:hover {
      @include diagonal-gradient($success, $success-states);

      color: $pink-600;
    }
  }

  .page-item.disabled > .page-link {
    opacity: 0.5;
  }

  // Colors
  &.pagination-info {
    .page-item.active > .page-link {
      &,
      &:focus,
      &:hover {
        @include diagonal-gradient($info, $info-states);
      }
    }
  }

  &.pagination-success {
    .page-item.active > .page-link {
      &,
      &:focus,
      &:hover {
        @include diagonal-gradient($success, $success-states);
      }
    }
  }

  &.pagination-neutral {
    .page-item > .page-link {
      color: $white;

      &:focus,
      &:hover {
        background-color: $opacity-1;
        color: $white;
      }
    }

    .page-item.active > .page-link {
      &,
      &:focus,
      &:hover {
        background-color: $white;
        border-color: $white;
        color: $brand-primary;
      }
    }
  }
}
