// variables.scss

// Gradient
$background-black: #1e1e2f !default;

// Border
$box-shadow: 0 15px 35px rgba(44, 44, 75, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);

$border-radius-sm: 0.2857rem !default;

// Cards
$card-black-background: #27293d !default;
$card-spacer-y: 1.25rem !default;

// color system
$pink-100: #ebbbdf !default;
$white: #ffffff !default;
$deep-pink: #cc2a83 !default;

// opacity
$opacity-8: rgba(38, 211, 125, 0.8) !default;
$opacity-1: rgba(180, 214, 164, 0.1) !default;

// fonts
$font-family-base: "Poppins", sans-serif !default;
$font-family-alt: "Poppins", sans-serif !default;

$font-size-dash: 0.875rem !default;

$font-size-base: $font-size-dash !default;

$h1-font-size: $font-size-base * 2.35714285 !default; //2.1875rem
$h2-font-size: $font-size-base * 1.9285714 !default;
$h3-font-size: $font-size-base * 1.642857 !default;
$h4-font-size: $font-size-base * 1.2142857 !default;
$h5-font-size: $font-size-base * 0.9285714 !default;
$h6-font-size: $font-size-base * 0.8571428 !default;

$font-weight-bold: 600 !default;
$font-weight-normal: 400 !default;

$headings-font-family: inherit !default;
$headings-line-height: 1.2 !default;

$display-line-height: $headings-line-height !default;

// Spacing
$margin-base-vertical: 15px !default;

$spacer: 1rem !default;

// card.scss
.card {
  background: $card-black-background;
  border: 0;
  position: relative;
  width: 100%;
  margin-bottom: 40px;
  box-shadow: $box-shadow;

  .card-body {
    padding: 15px;
  }
}

.card-body {
  padding: $card-spacer-y;
}

// reboot.scss
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-family-base;
  font-size: $font-size-dash;
  font-weight: $font-weight-normal;
  line-height: $display-line-height;
  color: $opacity-1;
  text-align: left;
  background-color: $background-black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

//type.scss
.card {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: $opacity-8;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-normal;
  color: $opacity-8;
}
h3,
.h3 {
  margin-bottom: $margin-base-vertical * 2;
  line-height: 1.4em;
}

h4,
.h4 {
  line-height: 1.45em;
  margin-bottom: $margin-base-vertical;
  font-size: $h4-font-size;
}

p {
  color: $pink-100;
  margin-bottom: 5px;
}

.title {
  font-weight: $font-weight-bold;
}

// sidebar and main panel.scss
.content {
  padding: 80px 30px 30px 280px;
  min-height: calc(100vh - 70px);
}

// Spacing
.row.row-grid > [class*="col-"] + [class*="col-"] {
  margin-top: 3rem;
}

.row-grid + .row-grid {
  margin-top: 3rem;
}

code {
  color: $deep-pink;
}
