.card {
  background: $card-black-background;
  border: 0;
  position: relative;
  width: 100%;
  margin-bottom: 40px;
  box-shadow: $box-shadow;

  display: flex;
  flex-direction: column;
  min-width: 0;

  .card-title {
    margin-bottom: 0.75rem;
  }

  .card-body {
    padding: 15px;
  }

  .card-header {
    &:not([data-background-color]) {
      background-color: transparent;
    }
    padding: 15px 15px 0;
    border: 0;
    color: rgba($white, 0.8);

    .card-title {
      color: $white;
      font-weight: 100;
    }

    .card-category {
      color: $dark-red;
      margin-bottom: 5px;
      font-weight: 300;
    }
  }
}

.card-body {
  padding: $card-spacer-y;
}
