$primary: #1c2d8f !default;
$secondary: #df60ce !default;
$success: #1b7e0e !default;
$info: #1a74ce !default;
$warning: #d8bc40 !default;
$danger: #ce2626 !default;

// gradient
$primary-states: #549ff5 !default;
$secondary-states: #f554e0 !default;
$success-states: #00f0bc !default;
$info-states: #516bd4 !default;
$warning-states: #d3c790 !default;
$danger-states: #b8594e !default;
